*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
nav{
    height: 50px;
    display: flex;
    padding: 1% 4% 0 4%; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 92%;
    box-shadow: 0.2px 0.2px rgb(254, 254, 254);
}
nav img{
    width: 100px;
    position: absolute;
    top: 0;
}
.nav-links{
    flex: 1;
    text-align: right;
} 
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

#header_file{
    position: relative;
    z-index: 1;
}
.contact{
    height: 21px;
    width: 144px;
    text-align: center;
    padding: 10px;
    border: 1px solid #0d7a5f;;
    border-radius: 10px;
}
.contact a{
    color: #0d7a5f;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
}
.contact a:hover{
    color: aliceblue;
    transition: 1s;
}
