*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(20, 20, 20);
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


.title{
    height: 102px;
    width: 98.5vw;
    background-color: rgb(245, 191, 12);
    text-align: center;
    margin-top: 5.1%;
}
.title h1{
    font-size: 40px;
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;

}
.title p{
    font-size: 20px;
    margin-top: 2px;
    font-family: 'Bebas Neue', cursive;
}

.container{
    margin: 0;
    padding: 0px;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(100% - 20px);
    /* margin-left: 10%; */
}
.card{
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 220px;
    width: 230px;
    position: relative;
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    filter: brightness(50%);
}
.card h2{
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 28px;
    /* font-weight: 600; */
    font-family: 'Bebas Neue', cursive;
}
#contractor{
    position: absolute;
    top: 40%;
    left: 20%;
}
#electrician{
    top: 40%;
    left: 20%;
}
#mechanic{
    left: 20%;
}
#security_cook{
    top: 30%;
}
#tmm{
    top: 30%;
    left: 15%;
}

.card a{
    background-color: #000000;
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    top:60%;
    left: 30%;
    font-weight: 600;
    padding: 2px;
    border: 1px solid rgb(234, 234, 234);
}
#stc{
    top: 70%;
}
.card a:hover{
    background-color: crimson;
    color: #000000;
    transition: all 1s;
    box-shadow: 0 0 10px 10px #2f2f2f;
    border: 1px solid ;
}